@media screen and (max-width: 667px) {
    .landingPageContainer {
        display: flex;
        flex-direction: column;

        top: -0%;
        transform: translateY(0%);
        
    }

    .landingPageContainer .imageStore img {
        width: 100%;
    }

    .landingPageContainer .imageStore:hover {
        transform: translate(-0.3%, -1.5%);
    }

    .landingPageContainer .textStore {
        margin-bottom: 20px;
        max-width: 406px;
        overflow-wrap: break-word;
    }

    .textStore h1 {
        font-size: 2rem;
    }

    .textStore h2 {
        font-size: 1.2rem;
    }

    .textStore p {
        font-size: 0.9rem;
        line-height: 1.6;
        font-weight: 500;
    }
}