* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #F7C959;

    /* titles and paragraphs */
    --title-color: #333;
    --text-color: #444;

    /* buttons and hover effect */
    --button-color: #007BFF;
    --button-hover-color: #0056b3;
    --button-text-color: #ffff;
}

#landing_page {
    margin: 0;
}

.landingPageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: -50px;
}

.landingPageContainer .imageStore {
    background-color: white;

    text-align: center;

    padding: 4.1rem;

    width: 38%;
    max-height: 240px;

    border-radius: 10px;
    margin-right: 20px;
}

.landingPageContainer .imageStore:hover {
    /* border: solid;
    border-color: #01AEFF;
    border-width: 3px; */
    transform: translate(-1.5%, -1.5%);
}

.landingPageContainer .textStore {
    color: var(--title-color);
    background-color: var(--main-color);

    text-align: center;
    overflow-wrap: break-word;

    padding: 2rem;
    max-width: 650px;
    width: 43.7%;

    border-radius: 10px;
}

 .textStore h1 {
    font-size: 1.8rem;
    font-weight: 700;

    margin: 10px;
}

.textStore h2 {
    color: var(--text-color);

    font-size: 1.2rem;
    font-weight: 600;

    margin: 10px;
}

.textStore p {
    text-align: justify;
    word-break: break-all;

    font-size: 1rem;
    line-height: 1.6;

    margin: 10px;
}

.textStore a button {
    background-color: var(--button-color);
    color:var(--button-text-color);

    padding: 10px; 
    margin: 10px;

    border: none;
    border-radius: 5px;
    font-weight: 600;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.textStore a button:hover {
    background-color: var(--button-hover-color);
}


/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */


@media screen and (max-width: 667px) {
    .landingPageContainer {
        display: flex;
        flex-direction: column;

        top: -0%;
        transform: translateY(0%);
        
    }

    .landingPageContainer .imageStore img {
        width: 100%;
    }

    .landingPageContainer .imageStore:hover {
        transform: translate(-0.3%, -1.5%);
    }

    .landingPageContainer .textStore {
        max-width: 406px;
        width: 86%;
        
        margin: 0px 0px 83px 0px;

        overflow-wrap: break-word;
    }

    .textStore h1 {
        font-size: 2rem;
    }

    .textStore h2 {
        font-size: 1.2rem;
    }

    .textStore p {
        font-size: 0.9rem;
        line-height: 1.6;
        font-weight: 500;
    }
}